In [70]:
import pandas as pd
import os
import difflib as dfl

In [181]:
section = '03'
roster = pd.read_csv('roster/roster{}.csv'.format(section), header=0, index_col=False, names=['1','2','3','4','5','6'])

In [182]:
names = roster['1'].str.split(pat=', ', expand=True)
#names.iloc[15][1]='Li'

In [183]:
print(names)

                0                  1
0             Ali              Haley
1          Anyona             Esther
2         Argueta            Melanie
3           Avila            Jessica
4          Barela             Brigit
5          Borbas                Sam
6            Chen           Tianrong
7            Choi            Jocelyn
8          Cuenco         Trisha Mae
9           David            Karyssa
10         Dimick             Melina
11       Gonzalez             Ixchel
12          Gregg               John
13             He                Joe
14         Honggo           Michelle
15       Iannozzi   Isabella (Bella)
16     Kilaghbian            Kristen
17        Kumfert             Quincy
18            Liu             Jingqi
19         Momita            Michele
20        Muthana            Jasmine
21         Nguyen              Megan
22            Pan           Yingzhou
23         Saigal            Rishabh
24            Shu                 Ye
25          Stone            Shamyah
26           Syed              Imaan
27           Tang           Shaotong
28  Van Der Graaf  Alexandra (Lexie)
29       Wadhwani             Yasmin
30     Zaninovich             Thomas

In [184]:
names_cat = names.apply(lambda x: x[1] + ' ' + x[0], axis=1)
print(names_cat)

0                           Haley Ali
1                       Esther Anyona
2                     Melanie Argueta
3                       Jessica Avila
4                       Brigit Barela
5                          Sam Borbas
6                       Tianrong Chen
7                        Jocelyn Choi
8                   Trisha Mae Cuenco
9                       Karyssa David
10                      Melina Dimick
11                    Ixchel Gonzalez
12                         John Gregg
13                             Joe He
14                    Michelle Honggo
15          Isabella (Bella) Iannozzi
16                 Kristen Kilaghbian
17                     Quincy Kumfert
18                         Jingqi Liu
19                     Michele Momita
20                    Jasmine Muthana
21                       Megan Nguyen
22                       Yingzhou Pan
23                     Rishabh Saigal
24                             Ye Shu
25                      Shamyah Stone
26                         Imaan Syed
27                      Shaotong Tang
28    Alexandra (Lexie) Van Der Graaf
29                    Yasmin Wadhwani
30                  Thomas Zaninovich
dtype: object

In [124]:
files = os.listdir('reports/{}/'.format(section))
print(files)

['03DL4.csv', '03DL3.csv', '03DL1.csv', '03DL2.csv']

In [125]:
dl = pd.read_csv('reports/{}/{}'.format(section,files[0]))
#print(dl)
dl_names = dl['Name (Original Name)'].str.strip()
print(dl_names)

0            Yingzhou Pan
1            Jocelyn Choi
2          Michele Momita
3            Megan Nguyen
4              Jingqi Liu
5       Trisha Mae Cuenco
6           Karyssa David
7           Tianrong Chen
8     Lexie Van Der Graaf
9          Bella Iannozzi
10          Melina Dimick
11          Shamyah Stone
12                 Ye Shu
13        Yasmin Wadhwani
14     Kristen Kilaghbian
15          Brigit Barela
16        Michelle Honggo
17          Jessica Avila
18          Shaotong Tang
19                 Joe He
20              Haley Ali
21             Imaan Syed
22      Rodrigo Stancioli
23        Ixchel Gonzalez
24         Rishabh Saigal
25        Melanie Argueta
26          Esther Anyona
27      Thomas Zaninovich
28         Quincy Kumfert
29             John Gregg
30             Sam Borbas
31        Jasmine Muthana
Name: Name (Original Name), dtype: object

In [126]:
mask6 = dl_names.apply(lambda x: dfl.get_close_matches(x, names_cat, n=3, cutoff=0.6))
mask7 = dl_names.apply(lambda x: dfl.get_close_matches(x, names_cat, n=3, cutoff=0.7))
mask71 = names_cat.apply(lambda x: dfl.get_close_matches(x, dl_names, n=3, cutoff=0.7))

In [127]:
print(mask71)

0               [Haley Ali]
1           [Esther Anyona]
2         [Melanie Argueta]
3           [Jessica Avila]
4           [Brigit Barela]
5              [Sam Borbas]
6           [Tianrong Chen]
7            [Jocelyn Choi]
8       [Trisha Mae Cuenco]
9           [Karyssa David]
10          [Melina Dimick]
11        [Ixchel Gonzalez]
12             [John Gregg]
13                       []
14        [Michelle Honggo]
15         [Bella Iannozzi]
16     [Kristen Kilaghbian]
17         [Quincy Kumfert]
18             [Jingqi Liu]
19         [Michele Momita]
20        [Jasmine Muthana]
21           [Megan Nguyen]
22           [Yingzhou Pan]
23         [Rishabh Saigal]
24                 [Ye Shu]
25          [Shamyah Stone]
26             [Imaan Syed]
27          [Shaotong Tang]
28    [Lexie Van Der Graaf]
29        [Yasmin Wadhwani]
30      [Thomas Zaninovich]
dtype: object

In [138]:
lista = ['sam', 'chicoo']
listb = []
int(bool(lista))

1

In [185]:
#new_series = mask71.apply(lambda x: int(bool(x)))
new_series = mask71.apply(lambda x: not bool(x))
print(new_series)
print(names_cat[new_series])
print(names_cat)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
dtype: bool
13    Joe He
dtype: object
0                           Haley Ali
1                       Esther Anyona
2                     Melanie Argueta
3                       Jessica Avila
4                       Brigit Barela
5                          Sam Borbas
6                       Tianrong Chen
7                        Jocelyn Choi
8                   Trisha Mae Cuenco
9                       Karyssa David
10                      Melina Dimick
11                    Ixchel Gonzalez
12                         John Gregg
13                             Joe He
14                    Michelle Honggo
15          Isabella (Bella) Iannozzi
16                 Kristen Kilaghbian
17                     Quincy Kumfert
18                         Jingqi Liu
19                     Michele Momita
20                    Jasmine Muthana
21                       Megan Nguyen
22                       Yingzhou Pan
23                     Rishabh Saigal
24                             Ye Shu
25                      Shamyah Stone
26                         Imaan Syed
27                      Shaotong Tang
28    Alexandra (Lexie) Van Der Graaf
29                    Yasmin Wadhwani
30                  Thomas Zaninovich
dtype: object

In [150]:
def check_attendance(names, dl):
    dl_names = dl['Name (Original Name)'].str.strip()
    dl_names = dl_names.str.split(expand=True)

    print(dl)
    print('\n dlnames \n')
    print(dl_names)

    mask_total = list(False for i in range(names.shape[0]))
    mask_total = pd.Series(mask_total).array

    for index, dl_name in dl_names.iterrows():
        print(dl_name[0])
        print(dl_name[1])
        if len(dl_name) == 3:
            mask1 = (names[0]==dl_name[1])
            mask2 = (names[0]==dl_name[2])
            mask0 = (names[1]==dl_name[0])
            mask_total = mask_total | (mask0 & (mask1 | mask2))
        elif len(dl_name) == 2:
            mask1 = (names[0]==dl_name[1])
            mask0 = (names[1]==dl_name[0])            
            mask_total = mask_total | (mask0 & mask1)
        else:
            print('One or more entries in the report contain more names than expected.')
    print('Absent students:')
    print(names[~mask_total], '\n')

In [177]:
def check_attendance2(names_cat, dl):
    dl_names = dl['Name (Original Name)'].str.strip()

    close_matches = names_cat.apply(lambda x: dfl.get_close_matches(x, dl_names, n=3, cutoff=0.7))
    new_bool_series = close_matches.apply(lambda x: not bool(x))
    new_series = new_bool_series.apply(lambda x: int(x))

    print('Absent students:')
    print(names_cat[new_bool_series], '\n')

    return new_series

In [186]:
df = pd.DataFrame(names_cat, columns=['name'])
for file in files:
    print(file)
    dl = pd.read_csv('reports/{}/{}'.format(section,file))
    #check_attendance(names, dl)
    new_series = check_attendance2(names_cat, dl)
    df[file] = new_series

03DL4.csv
Absent students:
Series([], dtype: object)

03DL3.csv
Absent students:
Series([], dtype: object)

03DL1.csv
Absent students:
3         Jessica Avila
5            Sam Borbas
8     Trisha Mae Cuenco
12           John Gregg
23       Rishabh Saigal
dtype: object

03DL2.csv
Absent students:
5           Sam Borbas
8    Trisha Mae Cuenco
dtype: object

In [192]:
sum_series = df[column_list].sum(axis=1, numeric_only=True)

In [194]:
df['# of absences'] = sum_series

In [195]:
df

,name,03DL4.csv,03DL3.csv,03DL1.csv,03DL2.csv,# of absences
0,Haley Ali,0,0,0,0,0
1,Esther Anyona,0,0,0,0,0
2,Melanie Argueta,0,0,0,0,0
3,Jessica Avila,0,0,1,0,1
4,Brigit Barela,0,0,0,0,0
5,Sam Borbas,0,0,1,1,2
6,Tianrong Chen,0,0,0,0,0
7,Jocelyn Choi,0,0,0,0,0
8,Trisha Mae Cuenco,0,0,1,1,2
9,Karyssa David,0,0,0,0,0
10,Melina Dimick,0,0,0,0,0
11,Ixchel Gonzalez,0,0,0,0,0
12,John Gregg,0,0,1,0,1
13,Joe He,0,0,0,0,0
14,Michelle Honggo,0,0,0,0,0
15,Isabella (Bella) Iannozzi,0,0,0,0,0
16,Kristen Kilaghbian,0,0,0,0,0
17,Quincy Kumfert,0,0,0,0,0
18,Jingqi Liu,0,0,0,0,0
19,Michele Momita,0,0,0,0,0
20,Jasmine Muthana,0,0,0,0,0
21,Megan Nguyen,0,0,0,0,0
22,Yingzhou Pan,0,0,0,0,0
23,Rishabh Saigal,0,0,1,0,1
24,Ye Shu,0,0,0,0,0
25,Shamyah Stone,0,0,0,0,0
26,Imaan Syed,0,0,0,0,0
27,Shaotong Tang,0,0,0,0,0
28,Alexandra (Lexie) Van Der Graaf,0,0,0,0,0
29,Yasmin Wadhwani,0,0,0,0,0
30,Thomas Zaninovich,0,0,0,0,0